.preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 0 auto;
}

@media (max-width:414px){
    .preview{
        grid-template-columns: 1fr;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .preview{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1024px) and (max-width:1366px){
    .preview{
        width: 100%;
    }
}