.item{
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    margin: 0 auto;

    & .photo{
        width: auto;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;

    }

    & .btn{
        display: block;
        margin-top: 15em;
        width: 250px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border: none;
        color: #111;
        opacity: 0;
    }

    & .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &:hover .btn{
        opacity: 1;
        transition: all ease-in-out .5s;
        display: block;
        margin-top: 15em;
        width: 200px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border: none;
        color: #111;
    }
}


@media (max-width:414px){
   
}

@media (min-width:768px) and (max-width:1023px){
    
}

@media (min-width:1024px) and (max-width:1366px){
    .item .photo {
        width: 220px;
        height: 300px;
    }
}