.badge{
    position: relative;
    bottom: 5px;
    right: 5px;
    font-size: 15px !important;
}

@media (max-width:414px){
    .cart{
        margin:15px 0;
    }
}

@media (min-width:768px) and (max-width:1023px){
    
}

@media (min-width:1024px) and (max-width:1366px){

}